<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

<!--         <div class="pic-wrapper fade" width="50%" height="50%">
          <img src="/assets/img/profile-pic.jpg" />
          <img src="/assets/img/profile.png" />
        </div> -->
        
        <img class="center" src="/assets/img/profile.png" width="50%" height="50%" />
       
        <h2 class="center-children">{{ site.name_chinese }}<br/>{{ site.name_pinyin }}</h2>

        <p>
          <a href="{{ site.aff4url }}">{{ site.aff4 }}</a>
          <br/>
          <a href="{{ site.aff1url }}">{{ site.aff1 }}</a>
          <br/>
          <a href="{{ site.aff2url }}">{{ site.aff2 }}</a>
          <br/>
          <a href="{{ site.aff3url }}">{{ site.aff3 }}</a>
        </p>

        <div class="hor-dist-container">
          <a href="{{ site.email_full }}"><i class="fa fa-envelope fa-2x"></i></a>
          <a href="{{ site.github.owner_url }}"><i class="fa fa-github fa-2x"></i></a>
        </div>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This page is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>; Adjusted by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
